/*
	<div class="asset_slider">
		<ul class="asset_slider-slides">
			<li class="asset_slider-slide" style="background: black;">
				<div class="layout_centralColumn util_clearfix">
					<div class="asset_slider-picture">
						<img src="content/slide1.jpg" alt="Wedding">
					</div>
					<section class="asset_slider-content">
						<h1>Gentlemen, this way please</h1>
						<div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa velit, eu laoreet massa. Sed ac orci libero, eu dignissim enim.</p>
						</div>
						<div>
							<button>View Collection</button>
						</div>
					</section>
				</div>
			</li>
			<li class="asset_slider-slide" style="background: #f6f6f6;">
				<div class="layout_centralColumn">
					<div class="asset_slider-picture">
						<img src="content/slide2.jpg" alt="Cat">
					</div>
					<section class="asset_slider-content">
						<h1>Gentlemen, this way please</h1>
						<div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae massa velit, eu laoreet massa. Sed ac orci libero, eu dignissim enim.</p>
						</div>
						<div>
							<button>View Collection</button>

*/
.asset_slider-slides {
    white-space: nowrap;
    overflow: hidden;
}
.asset_slider-slide {
    height: 420px;
    display: inline-block;
    width: 100%;
    white-space: initial;
    transition: transform 0.6s;
}
.asset_slider-slides:hover .asset_slider-slide{
    transform: translateX(-100%);

}
.asset_slider-picture,
.asset_slider-content {
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding-right: 10px;
    padding-left: 10px;
}
.asset_slider-picture {
    position: relative;
}
.asset_slider-picture img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.asset_slider-content {
    position: relative;
}
.asset_slider-contentSymbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.asset_slider-content h1 {
    font-size: 48px;
    font-family: 'Manuale', serif;
    line-height: 54px;
}
.asset_slider-text {
    font-size: 24px;
    font-family: 'Manuale', serif;
    margin-bottom: 30px;
    margin-top: 24px;
    line-height: 30px;
}
.asset_slider-content button {
    padding: 9px 20px 9px 20px;
    border-width: 3px;
    border-style: solid;
    font-size: 18px;
    font-weight: 400;
}

