.asset_navigation {
	margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.asset_navigation li {
    display: inline-block;
	margin-top: -1px;
}
.asset_navigation a {
	padding: 10px;
	transition: background 0.4s;
	color: #555555;
	display: block;
}
.asset_navigation li:hover a {
	background: #167c9a;
	color: white;
}
