.asset_personalLinks {
	margin-right: 10px;
	margin-left: 10px;
}
.asset_personalLinks li {
	display: inline;	
}
.asset_personalLinks a {
	color: #999999;
	text-decoration: none;
}
.asset_personalLinks a:hover {
	text-decoration: underline;
}