.asset_topLinks {
	background: #e9e9e9;
	border: 1px solid #d7d7d7;
	height: 30px;
}
.asset_topLinks-brands {
	margin-left: 10px;
	margin-right: 10px;
}
.asset_topLinks-brands li {
	float: left;
	display: list-item;
}
.asset_topLinks-superNew {
	float: right;
}
.asset_topLinks-superNew {
	font-family: 'Manuale', serif;
	background: #f52c66;
	color: white;
	height: 30px;
	padding-right: 20px;
	padding-left: 20px;
	text-decoration: none;
	line-height: 30px;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
.asset_topLinks-triangle {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 22px;
	background-size: 100% 22px;
	left: 0px;
}
.asset_topLinks-superNew:after {
	content: "";
	position: absolute;
	top: 31px;
	left: 50%;
	width: 13px;
	height: 12px;
	margin-left: calc(-13px / 2);
}