.asset_catalog {
    background: #f6f6f6;
    text-align: center;
}
.asset_catalog-items {
    margin-top: 10px;
}
.asset_catalog-items li {
    position: relative;
    float: left;
    display: inline-block;
    margin: 10px;
}
.asset_catalog-items img {
    display: block;
    position: relative;
}
.itemDescription {
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 137px;
    background: rgba(0,0,0,0.7);
    transition: transform 0.8s;
    width: 100%;
    right: 0;
    visibility: hidden;
    color: white;
}
.asset_catalog-items a:hover .itemDescription {
    visibility: visible;
}
.asset_catalog-text {
    height: 92px;
    width: 220px;
    white-space: pre-line;
    background: #cccccc;
}
.asset_catalog-textDescribe {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #555555;
}
.asset_catalog-price {
    position: relative;
    font-family: 'Oswald', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: block;
    padding-top: 10px;
}
.asset_catalog-price:before {
    content: '';
    position: absolute;
    width: 97px;
    height: 1px;
    background: #bbbbbb;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.curtButton {
    background: #2fb789;
    width: 220px;
    height: 45px;
    color: white;
    font-size: 18px;
    display: block;
}
.curtButton:hover {
    background: #333333;
}

