.asset_geoLocation {
    position: relative;
}
.asset_geoLocationGeneralHeader {
    position: absolute;
    background-color: #12cce2;
    width: 100%;
    height: 171px;
    mix-blend-mode: multiply;
}
.asset_geoLocationGeneralHeaderText {
    font-size: 50px;
    color: white;
    text-align: center;
    padding-top: 63px;
}
.asset_geoLocationMap {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 54px;
}
.asset_geoLocationMap-add {
    height: 593px;
    width: 100%;
}
.asset_geoLocationFinder{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
.asset_geoLocationFinderSet span {
    position: relative;
    font-size: 37px;
    margin-top: 46px;
    font-weight: bold;
    color: #b8b8b8;
    left: -66px;
    top: 47px;
}
.selectedDistanetion span {
    position: absolute;
    font-size: 37px;
    margin-top: 46px;
    font-weight: bold;
    color: black;
    top: 231px;
    left: 322px;
}
.asset_geoLocationFinderSetArrow {
    position: absolute;
    width: 0px;
    height: 0px;
    border-top: 7px solid black;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    vertical-align: 2px;
    margin-left: 2px;
    left: 442px;
    top: 305px;
}
.asset_geoLocationFinderSetArrowUp {
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    display: inline-block;
    vertical-align: 2px;
    margin-left: 2px;
    border-bottom: 7px solid black;
    left: 442px;
    top: 295px;
}
.variableDistance {
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s, top 0.4s;
    visibility: hidden;
    width: 140px;
    right: 192px;
    background: transparent;
    font-size: 37px;
    font-weight: bold;
}
.selectedDistanetion:hover .variableDistance {
    visibility: visible;
    opacity: 1;
}

.asset_geoLocationMap input {
    width: 638px;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    height: 34px;
    border: 1px solid gray;
    margin-top: 194px;
    text-align: center;
    background-color: white;
}
.asset_geoLocationMap input .placeholder {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    height: 34px;
    color: #167c9a;
}
.asset_geoLocationMap button {
    height: 67px;
    width: 243px;
    background: #167c9a;
    color: white;
    margin-top: 99px;
    font-size: 30px;
}