.asset_catalog {
    background: #f6f6f6;
    text-align: center;
}
.typo_richHeaderItem {
    position: relative;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    margin-top: 55px;
    color: #434343;
    padding-bottom: 20px;
    top: 20px;
    padding-top: 40px;
}
.typo_richHeaderItem:before {
    content: '';
    position: absolute;
    height: 4px;
    width: 250px;
    top: 61%;
    left: -2px;
}
.typo_richHeaderItem:after {
    content: '';
    position: absolute;
    height: 4px;
    width: 227px;
    top: 61%;
    right: 17px;
}
.grayLink {
    font-family: 'Manuale', serif;
    font-size: 18px;
}
.popularItems li,
.newItems li {
    float: left;
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
    padding-bottom: 55px;
}
.asset_itemText {
    background: #cccccc;
    height: 92px;
    width: 220px;
}
.asset_itemText-describe {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #555555;
}
.price {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 500;
    color: white;
}
