.asset_catalog {
    background: #f6f6f6;
    text-align: center;
}
.popularItems {
    margin-top: 20px;
}
.popularItems li,
.newItems li {
    position: relative;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 55px;
}
.popularItems img,
.newItems img {
    display: block;
}
.asset_itemText {
    height: 92px;
    width: 220px;
    white-space: pre-line;
    background: #cccccc;
}
.asset_itemText-describe {
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #555555;
}
.price {
    position: relative;
    font-family: 'Oswald', sans-serif ;
    font-size: 18px;
    font-weight: 500;
    color: white;
    display: block;
    padding-top: 10px;
}
.price:before {
    content: '';
    position: absolute;
    width: 97px;
    height: 1px;
    background: #bbbbbb;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.curtButton {
    background: #2fb789;
    width: 220px;
    height: 45px;
    color: white;
    font-size: 18px;
    display: block;
}
.curtButton:hover {
    background: #333333;
}
