.asset_logoStrip {
	background: white;
}
.asset_logoStrip-flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 100px;
	align-items: center;
}	
.asset_logoStrip-flex > * {
	flex-grow: 1;
	width: 100%;
	text-align: center;
}
.asset_logoStrip .asset_locale,
.asset_logoStrip .asset_personalLinks {
	display: inline-block;
}
