.asset_topLinks {

}
.layout_basicFlexContainer {
    background-color: #e9e9e9;
}
.asset_topLinks-brands {
    width: 100%;
}
.swiper-wrapper a {
    font-size: 1em;
    color: #555555;
    margin-top: 7px;
    text-align: center;
}
.asset_topLinks-brands a:hover {
    color: steelblue;
}
.asset_topLinks-superNew {
    font-family: 'Manuale', serif;
    background: #f52c66;
    color: white;
    height: 30px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}
.asset_topLinks-triangle {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 22px;
    background-size: 100% 22px;
    left: 0px;
}
.asset_topLinks-superNew:after {
    content: "";
    position: absolute;
    top: 31px;
    left: 50%;
    width: 13px;
    height: 12px;
    margin-left: calc(-13px / 2);
}
.img_redTriangle {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANwAAAAWCAYAAACrKfJTAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfZJREFUeNrsmm1LAkEUhceiCKHwQ0IEBb1BLxKp/6k/mxZRFER9yA8FERiFUVTaHZqhYbxra/vizOx54IDIqruzc7j3rqfUqx0uCyHqpCapobQiAABJeSQdkVqktnxdIsNxB1YN8zWUGdewfgBE8qSMZerWPijKcBwVqwpKbZKmsNagYLyQji1z3ZAGf31wHMNxLJAOLBNuk6ZxT0AgvJJOVEvYUi3iFan/ny9LajiOsjJh3WhHd0kzuHfAcd5Jp3reUga7JH2m9QNZGI5jjlSzWtJ90izuMZgQH6Rzy1xn6v3MyMtwHLLi7RlVUJuwjL0AUuaLdGG0hS1Vyd7yPpFJGo5Dzn471kwo29N57BkQk76asXTlaqsZrOfCyblmOA75FHTLqIR6NqxgbwHx83RQV6220rOrJ+uD4aLYsCqh1CL2X9B0LHPJCtb16QJ8NhzHqlUF5esl7FMvuRe/j+H17PXg+0WFZjgORNfcZygCRboL8UKLYDiOKtOOrmPf50KsCFSoFNVwHGZ0TVdERNeSwUWgrou8IDDcaBBdi0+qESgYDmgQXcshAgXDgVGEHF3TESizLcw8AgXDgXHxMbrmTAQKhgNp4FJ0zekIFAwHsiKv6JpXESgYDuRNkuhaRwz/19XFksJwYDy46NpABBiBCpVvAQYAX3avyyhEU0oAAAAASUVORK5CYII=');
}
.imgAfter_star:after {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAMCAYAAAC5tzfZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJhJREFUeNpi+P//PwMObIBLjgGPpo245JgYsANbIOaG0hgAl6YAIHaG0hiABYitgVgLTUwfygbRmUD8B0n+GsydE4F4z3/8YA9UHUpA9OPRuAcqjzX0FuHQtAhf6LHjCBhO9IBABsJQehcQnwNiIyB2A2JBFFVI1spB3d4NxNxQMW4ofw9UHqyWEewxCDCG0mexOA9FDiDAAFnWD/TzUoREAAAAAElFTkSuQmCC');
}
